<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ENI M1 AI&ML TD1</title>
    <module href="/components/head.html"></module>
  </head>
  <body>
    <h1>This is our...</h1>
    <p>Hello, world!</p>
    <script type="text/javascript" src="/eel.js"></script>
    <script type="text/javascript" src="/bundle.js"></script>
    <script>
      // console.log('Calling Python :...');
      // // window.eel.setVars(5, 3, 2, 0);

      // async function run() {
      //   let result = await window.eel.test_python()(); // Must prefix call with 'await', otherwise it's the same syntax
      //   //   let result = window.eel.go()(); // Must prefix call with 'await', otherwise it's the same syntax
      //   console.log('Got this from Python: ' + result);
      // }

      // run();
    </script>
  </body>
</html>
